apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: api-monitoring
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/Govindpsd/api-monitoring-platform.git
    targetRevision: master
    path: deployments/k8s/api-monitoring

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
