version: '3.9'
services:
  api-monitoring:
    build:
      context: ../..
      dockerfile: Dockerfile
    container_name: api-monitoring
    ports:
      - "8080:8080"
    restart: unless-stopped

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9091:9090"
    volumes:
      - ../../observability/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ../../observability/prometheus/alert.rules.yml:/etc/prometheus/alert.rules.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    depends_on:
      - api-monitoring
    restart: unless-stopped

  alertmanager:
    image: prom/alertmanager
    container_name: alertmanager
    ports:
      - "9093:9093"
    volumes:
      - ../../observability/alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml
    restart: unless-stopped

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ../../observability/grafana/provisioning:/etc/grafana/provisioning
      - ../../observability/grafana/dashboards:/etc/grafana/dashboards
    depends_on:
      - prometheus
    restart: unless-stopped
